i.icon {
    font-size: 2em;
}

i.right.chevron.icon {
    position: relative;
    top: 6px;
}

.container.main {
    margin-top: 7em;
}

h1.index {
    margin-top: 3em;
}

#delete {
    display: inline;
}